.custom-input {
  margin-bottom: 16px;
}

.custom-input label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.custom-input input {
  width: 220px;
  height: 40px;
  padding: 0px 12px;
  border-radius: 10px;
  outline: none;
  /* Light blue background */
  color: #333;
  transition: all 0.3s ease;
  border: solid black
}

.custom-input input:focus {
  transform: scale(1.05);
}

.header-container {
  display: flex;
  justify-content: center;
  margin-top: 20px
}

.header {
  font-size: 20px;

}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.item-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dub-product-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-top: 10px;
}

.dub-product-container img {
  margin-right: 15px;
}

.product-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}



.custom-input {
  display: block;
  height: 41px;
  padding: 10px 12px;
  color: #000;
  border-radius: 2px;
  font-size: 13px;
  position: relative;
  flex: 1 1 auto;
  margin-bottom: 0;
  transition: box-shadow .15s ease;
  outline: none;
  background-image: none !important;

}